<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net472" />
	<configuration>
		<add name="Model1Container" connectionString="metadata=res://*/ModeloApp.Model1.csdl|res://*/ModeloApp.Model1.ssdl|res://*/ModeloApp.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-H5OBCKSG\SQLEXPRESS;initial catalog=Remesas;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</configuration>
</packages>
